<nav class="navbar-inverse navbar-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">QUANTITY {{Qty}}</a>
      <a class="navbar-brand" href="#">TOTAL {{totalAmt}}</a>
    </div>
    <form class="navbar-form navbar-right">
      <button type="submit" data-toggle="modal" data-target="#sucmodal"  class="btn btn-default">CHECKOUT</button>
    </form>
  </div>
</nav>
<!-- success modal -->
<div class="modal fade" id="sucmodal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cart</h4>
      </div>
      <div class="modal-body">
        <p class="text-success">You have {{Qty}} quantity and amount is {{totalAmt}}</p>
        <p class="text-success">Your transaction is successfull</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>